body {
  font-family: "Poppins", sans-serif;
}
p {
  color: #555;
  margin: 25px 25px;
}

.container {
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: radial-gradient(#fff, #ffd6d6);
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 25px;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #ffffff;
  padding: 8px 30px;
  margin: 25px 25px;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}
.header .row {
  margin-top: 70px;
}
