body
{
    
  background-color: #fff;
  font-family: Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;

}



.product_img{
  width: 580px;
  margin-top: 60px;
}

.product_img img{
  width: 100%;
}


.product_info{
    margin-top: 60px;
  width: 260px;
  text-align: justify;
}

.product_title{
  font-size: 1.6em; 
  color: #233F59;
  padding: 10px;
}
.product_model{
  padding: 10px;
  color: #878686;
  font-size: .8rem;
  
}
.product_price{
  padding: 10px;
  color: #c47272;
  font-size: 1.8rem;
}
.product_descr{
  color: #615F5F;
  padding: 10px;
}
.product_color{
  color: #878686;
  padding: 10px;
}

.add_to_cart{
  width: 100%;
  padding: 12px 0;
  background-color: #319bbb;
  text-align: center;
  color: white;
  cursor: pointer;
}
.add_to_cart:hover{
  background-color: #2cb3a1;
  
}
.product_quantity {
color: #878686;
padding: 10px;}

.product_quantity input[type="number"]{
  border: 1px solid lightgray;
  width: 80px;
  font-size: 1.8em;
  margin: 10px 0;
  padding: 5px;
  text-align:center;
  color: #878686;
  box-sizing: border-box;
}

@media(max-width: 960px)
{
  body{
    background-color: rgb(228, 218, 218);
  }
  .body{
    width: 100%;
  }

}
@media (max-width: 640px)
{
    .product_info{
    width: 100%;
    text-align: center;
   }
}